<div class="login-container">
<h2>Login</h2>
<form method="post" >
    <table>
       
        <tr>
            <td>UserName</td>
            <td>
                <input type="text" [(ngModel)]="username" name="user">
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td>
                <input type="password" [(ngModel)]="pass" name="pass">
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit" (click)="login()"/>
                <br />
                <br>
                <a routerLink="/register">Register</a>
            </td>
        </tr>
    </table>
</form>
</div>