<div>
<p>login works!</p>
<form method="post" >
    <table>
        <tr>
            <td>UserName</td>
            <td>
                <input value="username" />
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td>
                <input type="password" value="password" />
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit" />
                <br />
            </td>
        </tr>
    </table>
</form>
</div>