.nav{
    padding-top: 0%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 45px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: green;
  }
  .active {
    background-color: green;
  }