<h1>Student Details</h1>

    <table class="table">
        <thead>
        <tr>
              <th>      ID</th>
                <th>    Name</th>
                 <th>   Contact No</th>
                <th>    Password</th>
        </tr>
        </thead>
    
        <tbody>
                <tr *ngFor="let StudentItem of StudentArray">
                    <td>{{ StudentItem.id }}</td>
                    <td>{{ StudentItem.name }}</td>
                    <td>{{ StudentItem.phone }}</td>
                    <td>{{ StudentItem.password }}</td>
                  <td>
                    <button type="button" class="btn btn-success" [routerLink]="['/list','update',StudentItem.id]">Edit</button>
                    <button type="button" class="btn btn-danger" (click)="DeleteStudent(StudentItem)">Delete</button>
                  </td>
                </tr>
        </tbody>
    
    </table>
