<div class="register-container">
<h2>Register</h2>

<form method="post">

    <table>
        <tr>
            <td>UserName</td>
            <td>
                <input name="username" />
            </td>
        </tr>
        <tr>
        <td>Password</td>
        <td>
            <input type="password"  name="password"/>
        </td>
    </tr>
        <tr>
            <td>Contact No</td>
            <td>
                <input name="phone" />
            </td>
        </tr>
        <tr>
            <td>Address</td>
            <td>
                <input name="address" />
            </td>
        </tr>
           
    
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit" value="SAVE"  />
                <br><br>
                <a routerLink="/login">Login</a>
            </td>
        </tr>
    </table>
    </form>
</div>